body{
    font-family: "Montserrat", sans-serif;
    background-image: url('../../assets/cafeteriat.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.lucas{
    top:29.6%;
    left:40%;
    position: absolute; 
}
.mathilde{
    top:31.6%;
    left:20%;
    position: absolute;
}
.conseillere{
    top:30%;
    left:60%;
    position: absolute;
}
.back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5vh;
    left: 5vh;
    background-color: black;
    border-radius: 200px;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  .back svg path {
    fill: white;
  }
  .back span {
    display: none;
  }
  
  .back:hover span {
    z-index: 2;
    display: block;
    color: white;
    font-size: 1.5em;
    margin-left: 1em;
  }
  a:visited {
    color: unset;
  }

  .people{
    position: absolute;
    left: 30%;
    top: 30%;
  }

  .continue{
    background-color: black;
    color: white;
    border-radius: 30%;
    font-size: 1.5em;
    position: absolute;
    left: 90%;
    top: 85%;
  }
  /* Slideshow container */
.slideshow-container {
  position: absolute;
  background-color: aliceblue;
  height: 130px;
  width: 600px;
  left: 25%;
  top: 75%;
  border: 2px solid black;
}

/* Slides */
.mySlides {
  display: none;
  padding: 40px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
